<div class="center">
    <h1 class="blue-grey-text"><i class="mdi-action-assignment"></i>Alimentos</h1>
</div>
<div class="card-panel">
    <form class="col s12">
        <div class="row">
            <div class="col s6" input-field>
                <input ng-model="alimento.Nome" id="Nome" type="text" maxlength="50" length="10" />
                <label class="required" for="Nome">Nome</label>
            </div>

            <div class="col s6">
                <select class="browser-default" ng-model="grupo" id="grupo">
                    <option ng-repeat="g in grupoArray">{{g.Id}}</option>
                </select>
                <label class="required" for="grupo">Grupo</label>
                <!--<select id="grupo" ng-model="grupo" ng-options="grupo.Nome for grupo in grupoArray">
                    <value></value>
                </select>-->
            </div>


            <div class="col s6">
                <input ng-model="alimento.Porcao" id="Porcao" type="number" maxlength="5" min="0" />
                <label class="required" for="Porcao">
                    Porção*
                </label>
                <p class="validationMessage"></p>
            </div>
            <div class=" col s6">
                <input ng-model="alimento.Valor_Calorico" id="Valor_calorico" type="number" maxlength="5" min="0" />
                <label class="required" for="Valor_calorico">Valor calórico*</label>
                <p class="validationMessage"></p>

            </div>
            <div class="col s6">
                <input id="cho" ng-model="alimento.Cho" type="number" maxlength="5" min="0" />
                <label class="" for="cho">CHO</label>
            </div>
            <div class="col s6">
                <input id="proteinas" ng-model="alimento.Proteinas" type="number" maxlength="5" min="0" />
                <label class="" for="proteinas">Proteínas</label>

            </div>
            <div class="col s6">
                <input id="gordurastotais" ng-model="alimento.Gorduras_totais" type="number" maxlength="5" min="0" />
                <label class="" for="gordurastotais">Gorduras totais</label>
            </div>
            <div class="col s6">
                <input id="gordurassaturadas" ng-model="alimento.Gorduras_saturadas" type="number" maxlength="5" min="0" />
                <label class="" for="gordurassaturadas">Gorduras saturadas</label>


            </div>
            <div class="col s6">
                <input id="Colesterol" ng-model="alimento.Colesterol" type="number" maxlength="5" min="0" />
                <label class="" for="Colesterol">Colesterol</label>


            </div>
            <div class="col s6">
                <input id="fosforo" ng-model="alimento.Fosforo" type="number" maxlength="5" min="0" />
                <label class="" for="fosforo">Fósforo (P)</label>


            </div>
            <div class="col s6">
                <input id="PoliSat" ng-model="alimento.Polisaturados" type="number" maxlength="5" min="0" />
                <label class="" for="PoliSat">Poliinsaturados</label>


            </div>
            <div class="col s6">

                <input id="MonoSat" ng-model="alimento.MonoSaturados" type="number" maxlength="5" min="0" />
                <label class="" for="MonoSat">Monoinsaturados</label>

            </div>
            <div class="col s6">

                <input id="VitaminaB1" ng-model="alimento.Vitamina_b1" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaB1">Vitamina B1</label>

            </div>
            <div class="col s6">

                <input id="VitaminaB2" ng-model="alimento.Vitamina_b2" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaB2">Vitamina B2</label>

            </div>
            <div class="col s6">

                <input id="VitaminaB3" ng-model="alimento.Vitamina_b3" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaB3">Vitamina B3</label>

            </div>
            <div class="col s6 ">

                <input id="VitaminaB6" ng-model="alimento.Vitamina_b6" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaB6">Vitamina B6</label>

            </div>


            <div class="col s6">

                <input id="gorduratrans" ng-model="alimento.Gordura_trans" type="number" maxlength="5" min="0" />
                <label class="" for="gorduratrans">Gordura trans</label>

            </div>
            <div class="col s6">

                <input id="fibraalimentar" ng-model="alimento.Fibra_alimentar" type="number" maxlength="5" min="0" />
                <label class="" for="fibraalimentar">Fibra alimentar</label>

            </div>
            <div class="col s6">

                <input id="acucar" ng-model="alimento.Acucar" type="number" maxlength="5" min="0" />
                <label class="" for="acucar">Açucar</label>

            </div>
            <div class="col s6">

                <input id="sodio" ng-model="alimento.Sodio" type="number" maxlength="5" min="0" />
                <label class="" for="sodio">Sódio</label>

            </div>
            <div class="col s6">
                <input id="selenio" ng-model="alimento.Selenio" type="number" maxlength="5" min="0" />
                <label class="" for="selenio">Selênio</label>


            </div>
            <div class="col s6">

                <input id="calcio" ng-model="alimento.Calcio" type="number" maxlength="5" min="0" />
                <label class="" for="calcio">Cálcio</label>

            </div>
            <div class=" col s6">

                <input id="ferro" ng-model="alimento.Ferro" type="number" maxlength="5" min="0" />
                <label class="" for="ferro">Ferro</label>

            </div>
            <div class=" col s6">

                <input id="potassio" ng-model="alimento.Potassio" type="number" maxlength="5" min="0" />
                <label class="" for="potassio">Potássio</label>

            </div>
            <div class=" col s6">

                <input id="zinco" ng-model="alimento.Zinco" type="number" maxlength="5" min="0" />
                <label class="" for="zinco">Zinco</label>

            </div>
            <div class=" col s6">

                <input id="mg" ng-model="alimento.Magnesio" type="number" maxlength="5" min="0" />
                <label class="" for="mg">Magnésio</label>

            </div>
            <div class=" col s6">

                <input id="VitaminaA" ng-model="alimento.Vitamina_a" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaA">Vitamina A</label>

            </div>
            <div class=" col s6">

                <input id="VitaminaC" ng-model="alimento.Vitamina_c" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaC">Vitamina C</label>

            </div>
            <div class=" col s6">

                <input id="VitaminaD" ng-model="alimento.Vitamina_d" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaD">Vitamina D</label>

            </div>
            <div class=" col s6">
                <input id="VitaminaE" ng-model="alimento.Vitamina_e" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaE">Vitamina E</label>


            </div>
            <div class=" col s6">

                <input id="vitaminaB9" ng-model="alimento.Vitamina_b9" type="number" maxlength="5" min="0" />
                <label class="" for="vitaminaB9">Vitamina B9</label>

            </div>
            <div class=" col s6">

                <input id="VitaminaB12" ng-model="alimento.Vitamina_b12" type="number" maxlength="5" min="0" />
                <label class="" for="VitaminaB12">Vitamina B12</label>
            </div>

        </div>

        <div class="center">
            <button type="button" class="btn btn-success" ng-click="save();">
                <i class="mdi-content-save"></i>
Salvar</button>
            <a href="#/" class="btn waves-light red"><i class="mdi-navigation-cancel"></i>Cancelar</a>
        </div>

    </form>
</div>