<div class="card-panel">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input ng-model="alimento.Nome" id="Nome" type="text" maxlength="50" />
                <label for="Nome">Nome</label>
            </div>

            <div class="input-field col s6">
                <label for="grupo"></label>
            
                <select class="browser-default" ng-model="grupo">
                    <option ng-repeat="g in grupoArray">{{g.Id}}</option>
                </select>
                <!--<select id="grupo" ng-model="grupo" ng-options="grupo.Nome for grupo in grupoArray">
                    <value></value>
                </select>-->
            </div>
           
            
             <div class="input-field col s6">
                <label class="required" for="Porcao">
                    Porção*
                </label>
                <input placeholder="Porção" ng-model="alimento.Porcao" id="Porcao" type="number" maxlength="5" min="0" />
                <p class="validationMessage"></p>
            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label required">Valor calórico*</label>

                <input placeholder="Valor calórico" ng-model="alimento.Valor_Calorico" id="Valor_calorico" type="number" maxlength="5" min="0" />
                <p class="validationMessage"></p>

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">CHO</label>

                <input id="cho" ng-model="alimento.Cho" placeholder="CHO" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Proteínas</label>

                <input id="proteinas" ng-model="alimento.Proteinas" placeholder="Proteínas" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Gorduras totais</label>

                <input id="gordurastotais" ng-model="alimento.Gorduras_totais" placeholder="Gorduras totais" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Gorduras saturadas</label>

                <input id="gordurassaturadas" ng-model="alimento.Gorduras_saturadas" placeholder="Gorduras saturadas" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Colesterol</label>

                <input id="Colesterol" ng-model="alimento.Colesterol" placeholder="Colesterol" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Fósforo (P)</label>

                <input id="fosforo" ng-model="alimento.Fosforo" placeholder="Fósforo" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Poliinsaturados</label>

                <input id="PoliSat" ng-model="alimento.Polisaturados" placeholder="Poliinsaturados" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Monoinsaturados</label>

                <input id="MonoSat" ng-model="alimento.MonoSaturados" placeholder="Monoinsaturados" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina B1</label>

                <input id="VitaminaB1" ng-model="alimento.Vitamina_b1" placeholder="Vitamina B1" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina B2</label>

                <input id="VitaminaB2" ng-model="alimento.Vitamina_b2" placeholder="Vitamina B2" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina B3</label>

                <input id="VitaminaB3" ng-model="alimento.Vitamina_b3" placeholder="Vitamina B3" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina B6</label>

                <input id="VitaminaB6" ng-model="alimento.Vitamina_b6" placeholder="Vitamina B6" type="number" maxlength="5" min="0" />

            </div>


            <div class="input-field col s6">
                <label class="col-md-6 control-label">Gordura trans</label>

                <input id="gorduratrans" ng-model="alimento.Gordura_trans" placeholder="Gordura trans" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Fibra alimentar</label>

                <input id="fibraalimentar" ng-model="alimento.Fibra_alimentar" placeholder="Fibra alimentar" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Açucar</label>

                <input id="acucar" ng-model="alimento.Acucar" placeholder="Açucar" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Sódio</label>

                <input id="sodio" ng-model="alimento.Sodio" placeholder="Sódio" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Selênio</label>

                <input id="selenio" ng-model="alimento.Selenio" placeholder="Selênio" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Cálcio</label>

                <input id="calcio" ng-model="alimento.Calcio" placeholder="Cálcio" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Ferro</label>

                <input id="ferro" ng-model="alimento.Ferro" placeholder="Ferro" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Potássio</label>

                <input id="potassio" ng-model="alimento.Potassio" placeholder="Potássio" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Zinco</label>

                <input id="zinco" ng-model="alimento.Zinco" placeholder="Zinco" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Magnésio</label>

                <input id="mg" ng-model="alimento.Magnesio" placeholder="Magnésio" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina A</label>

                <input id="VitaminaA" ng-model="alimento.Vitamina_a" placeholder="Vitamina A" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina C</label>

                <input id="VitaminaC" ng-model="alimento.Vitamina_c" placeholder="Vitamina C" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina D</label>

                <input id="VitaminaD" ng-model="alimento.Vitamina_d" placeholder="Vitamina D" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina E</label>

                <input id="VitaminaE" ng-model="alimento.Vitamina_e" placeholder="Vitamina E" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina B9</label>

                <input id="folato" ng-model="alimento.Vitamina_b9" placeholder="Vitamina B9" type="number" maxlength="5" min="0" />

            </div>
            <div class="input-field col s6">
                <label class="col-md-6 control-label">Vitamina B12</label>

                <input id="VitaminaB12" ng-model="alimento.Vitamina_b12" placeholder="Vitamina B12" type="number" maxlength="5" min="0" />

            </div>

        </div>

        <div class="center">
            <button type="button" class="btn btn-success" ng-click="save();">Salvar</button>
            <a href="#/" class="btn btn-default">Cancelar</a>
        </div>

    </form>
</div>