<div class="card-panel ">
    <form class="col s12">
        <div class="row" id="divAlimentos">
            <div class="col s6">
                <input ng-model="refeicao.Descricao" id="Descricao" type="text" placeholder="Descrição" maxlength="50" />
                <label class="required">Descrição</label>

            </div>

            <label class="required">Alimento</label>


            <select class="ac-select stateList" ac-model="stateSelected" ac-options="s.Nome for s in getAllStates()" ac-settings="{ loadOnCreate: false, loadOnOpen: true, minWidth: '300px' }" ac-change="stateSelected(value)"></select>
            <label class="col s6 control-label">Quantidade</label>

            <input id="cho" ng-model="quantidade" placeholder="Gramas ou Ml" type="number" max="10000" min="1" />
            <button class="btn" ng-click="addItem()">Adicionar</button>




        </div>

        <div class="center">
            <button type="button" class="btn " ng-click="saveRefeicao();">Salvar</button>
            <a href="#/" class="btn btn-default">Cancelar</a>
        </div>

    </form>
</div>